<mat-toolbar color="primary">
    <mat-toolbar-row>
     
      <button mat-button (click)="onNavigateToHomePage()"><h1>Hurón Azul</h1></button>
      <button mat-button (click)="onNavigateToConsultaPage()" >Consulta</button>
      <button mat-button (click)="onNavigateToRecojoPage()">Recojo</button> 
      <button mat-button (click)="onNavigateToRecojoPage()">Mis consultas</button> 
      <button mat-button (click)="onNavigateToRecojoPage()">Mis Recojos</button>            
    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>