<div class="container">


  <div class="row">
    
    <div class="col-md-12">
      <div class="col-md-6 custom-ff" >
        <h5 class="title-style">Registrar Mascota</h5>
        <form [formGroup]="formularioMascota" (ngSubmit)="onSaveMascota()" class="form-container">
          
    
          <mat-form-field class=" col-md-12 custom-mat-field">
            <mat-label>Nombre de Mascota</mat-label>
            <input matInput formControlName="nombremascota">
          </mat-form-field>


          <mat-form-field class=" col-md-12 custom-mat-field">
            <mat-label>Nombre de Propietario</mat-label>
            <input matInput formControlName="nombrepropietario">
          </mat-form-field>

          <div formGroupName="user">
            <mat-form-field class="custom-mat-field col-md-12">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email">
            </mat-form-field>
            <mat-form-field class="custom-mat-field col-md-12">
              <mat-label>Password</mat-label>
              <input matInput type="password" formControlName="password">
            </mat-form-field>
          </div>


          <button mat-raised-button color="primary" type="submit">Registrar</button>


        </form>
      </div>

      

    </div>
  


   

  </div>


</div>